// TODO: import stylus reset
global-reset()
@import global

left-col-width = 300px

body
	font-size: 14px
	font-family: 'Open Sans', Helvetica, Arial, sans-serif
	background: $$background-gray-light $gray-gradient-1 no-repeat
	line-height: 1.6em
	
	
a
	color: $cinder-red
	font-weight: 700
	
	&:hover
	&:focus
		color: $cinder-red
		text-decoration: underline
	
	&.cta-arrow
		// padding-right: 25px
		padding: 5px 25px 5px 0
		background: url('../images/cta_arrow.png') no-repeat right center
	
p a
	font-weight: inherit
	
p
	margin-bottom: 1.25em
	
	&:last-child
		margin-bottom: 0
	
em
	font-style: italic

strong
	font-weight: 700

label
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em
	font-weight: 300

h1, h2, h3, h4, h5, h6
	font-family: 'Open Sans', sans-serif;
	font-weight: 300
	margin-bottom: 0.5em

h1
	font-size: 2.25em
	color: $cinder-red
	font-weight: 400;

h2
	font-size: 1.9em
	color: $cinder-red

h3
	font-size: 1.5em
	font-weight: 700;
	color: $dark-gray-text

h4
	font-size: 1.25em

h5
	font-size: 1.0em

ul, ol
	margin-bottom: 20px

ul 
	list-style: disc

ol
	list-style: decimal
	
	
ul.fancy>li
	font-family: 'Libre Baskerville', serif;
	font-style: italic
	
li
	margin-left: 20px
	
.row
	max-width: 80rem

ci
	color: purple;
	font-weight: 700;

// for guide template
body#guide-contents
	max-width: 960px
	margin: 20px auto 0 auto
	width: 100%

code, .code
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	font-size: .85em
	padding: 2px 4px
	background: #fafafa
	color: #666

pre > code
	background: none
	
pre[class*="language-"]
	margin: 1em 0

code[class*="language-"]
	padding: 0

.plain
	font-family: Helvetica, Arial, sans-serif

// code
// 	margin: 1em 0
// 	display: inline-block
// 	padding: 0 1em
// 	line-height: 2em


#top-primary
	box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.3)
	z-index: 100
	
	.nav
		font-size: 1.25em
	
#top-primary,
#top-content
	background: $background-gray
	position: relative
	padding: 0 0 0 0
	margin: 0
	color: #fff
	
	h1
		color: #fff

	.content
		height: 100%
		
	.branding
		height: 100%
		
	.col-right
		width: 100%
		height: 100%
	
	.navbar-header
		float:left
		position: relative
		width: 200px
		color: light-gray
		margin-top: 25px

		a.navbar-brand
			display: inline-block
			background: url('../images/cinder_logo_bw.svg') no-repeat;
			background-size: 100%
			width: 151px
			height:50px
			
		.cinder-version
			display: inline-block
			position: absolute
			top: 13px
			left: 160px
			font-weight: bold
			font-size: 14px
			
	
	ul.nav
		position: relative
		list-style: none
		font-weight: bold
		height: 100%
		
		li
			position: relative
			display: inline-block
			height: 100%
			margin-right: 20px
			margin-left: 0
			background: none
			
			&.active
				border-bottom: solid 3px $cinder-red
				a
					color: $cinder-red

			a
				display: inline-block
				color: white
				text-decoration: none
				padding-top: 50px
				padding-right: 0
				background: none
				
				&:hover
					color: $cinder-red
	
	#MSearchBox
		margin-top: 50px


#main-nav
	height: 105px
	
	.columns
		height: 105px
	

#sub-nav
	height: 50px
	
	ul
		
		li
			display: inline-block
			// margin-right: 10px
			margin-left: 0
			
			a
				color: $cinder-red
				font-weight: normal
				
				&:hover
					text-decoration: underline
			
			&:not(:last-child)
				
				&::after
					content: " | "
		

#top-secondary
	background: gray-gradient-2
	height: 100%
	min-height: 250px

.content-row
	
	background: #fff

	> .columns
		padding-top: 40px
		padding-bottom: 40px
		min-height: 400px

#container, body#guide-contents
	
	background: white
	height: auto
	// padding-top: 40px
	// font-size: 0.8em
	// line-height: 1em

		
	section
		margin-bottom: 3em
	
	img-base()
		display: block
		max-width: 550px
		margin-top: 50px
		margin-bottom: 50px

	img.shadow
		img-base()
		box-shadow: rgba(0,0,0,0.5) 0 10px 20px
		
	
	img.center
		img-base()
		margin-left: auto
		margin-right: auto
		
	img.rounded
		img-base()
		border-radius: 5px
	
	.contents
		
		section 
			
			> ul > li
				
				height: 100%
				width: 100%
				padding: 10px 10px
				transform: translateZ(0)
				
				&:nth-child(odd)
					background: #f8f8f8	
					
		.definitionCol
			padding-right: 0
			padding-left: 0
				
		p:last
			margin-bottom: 0
		
		.row
			// padding-left: 18px
			// margin: 5px 0
			
			// .definition
				// margin: 5px 0
			
			.description
				// box-sizing: border-box
				// padding-top: 5px
				color: #7c827f
			
			p			
				&:first-child
					margin-top: 5px
				
			button.expand
				top: 14px
				left: 9px
				
	#show-hide
		
		text-align: right
				
	.returnCol
		text-align: right
		
	
	ul.master-class-list
		column-count: 4
		column-gap: 50px



#container .reference-content
		
	.header
		margin: 0 0 20px 0

		h1
			// color: $cinder-orange
			// text-align: center
			font-weight: 700
			text-transform: uppercase
			margin: 8px 0 0 0
			display: inline-block
			vertical-align: middle
		
		hr
			margin: 10px 0
		
	.header-icon
		// margin: 0 auto
		width: 100px
		height: 80px
		// text-align: center
		display: inline-block
		vertical-align: middle

	// reference header icons
	.header-icon {overflow:hidden; background-repeat: no-repeat;background-image:url('../images/header_icons.png');}

	.header_2dgraphics {width:200px; height:80px; background-position: -2px -2px}
	.header_application {width:200px; height:80px; background-position: -204px -2px}
	.header_audio {width:200px; height:80px; background-position: -406px -2px}
	.header_geometry {width:200px; height:80px; background-position: -608px -2px}
	.header_images {width:200px; height:80px; background-position: -810px -2px}
	.header_math {width:200px; height:80px; background-position: -1012px -2px}
	.header_platform {width:200px; height:80px; background-position: -1214px -2px}
	.header_system {width:200px; height:80px; background-position: -1416px -2px}
	.header_video {width:200px; height:80px; background-position: -1618px -2px}


.expandable
	
	position: relative
	overflow: hidden
	
	.content
		overflow: hidden
		transition: all 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000)

	&.hidden	
		button.expand
			transform: rotate(0deg) translateZ(0)
		
		.content
			height: 0 !important
			
button.expand
		
	transform: rotate(90deg) translateZ(0)
	transition: all 200ms
	background-image: url("../images/expand_arrow.png");
	background-repeat: no-repeat
	background-size: 13px 13px
	background-color: inherit
	width: 13px
	height: 13px
	margin: 0
	padding: 0
	display: block
	top: 16px
	left: 7px
	position: absolute
	outline: none
	z-index: 100
	

.side

	a
		font-weight: normal
	
	h4
		font-weight: 700
		margin-bottom: 6px

	.row
		border: 1px solid #f0f0f0
		padding: 10px 25px
		margin-bottom: 2px
		margin-right: 0
		position: relative


		&:nth-child(even)
			background: #ebebeb
		
		&:nth-child(odd)
			
			&:first-child
				background: #fff
			
			background: #f5f5f5
			border-color: #f5f5f5
		
	
	ul
		margin-bottom: 0
		
		&.inheritence
			
			li
				background-image: url("../images/class_node_parent_and_child_2x.png")
				background-position: -15px -3px
				background-repeat: 	no-repeat
				background-size: 48px 29px
				
				&:last-of-type
					background-image: url("../images/class_node_subclass_last_child_2x.png")

				&.depth1
					padding-left: 12px
				&.depth2
					padding-left: 26px
					background-position: -1px -3px;
				&.depth3
					padding-left: 40px
					background-position: 13px -3px;
				&.depth4
					padding-left: 54px
					background-position: 27px -3px;
				&.depth5
					padding-left: 68px
					background-position: 41px -3px;
					
	label
		font-size: 1.25em
		margin-bottom: 0.5em
	

#side-nav
	
	background: $light-gray
	
	h3
		color: $cinder-red
		font-weight: 700
		text-transform: uppercase
	
	input[type="checkbox"] + label
		margin-left: -18px
	
	.css-treeview
		
		// font-size: 0.8em
		
		label
			color: #fff
			font-size: inherit
		
		li
			margin-left: 18px
			margin-top: 5px;
			margin-bottom: 5px;
			
			a
				color: $cinder-red
			

	.css-treeview label::before
		background-image: url("../images/expand_arrow.png");
		background-repeat: no-repeat
		background-size: 13px 13px
		background-position: 0 0
		width: 13px
		height: 13px
		margin: 1px 5px 0 0
		
	.css-treeview input:checked + label::before
		
		transform: rotate(90deg) translateZ(0)
		transform-origin: 50% 50%;
		
	.css-treeview label
		background-image: none
		height: 20px
		line-height: 20px
		
	.css-treeview input + label + ul
		margin: 0


.wrapper
	min-height: 100%
	position: relative

	.inner-wrap
		padding-bottom: 60px

#main-content
	position: relative;
	z-index: 0
	
	li.row, .side li
		list-style: none
		margin-left: 0
	
	#side-nav li
		list-style: none

	
	// #container > .content
		// padding-top: 50px;

body.reference
	#main-content
		li
			margin-left: 0
			list-style: none

footer
	color: #fff
	padding: 20px	
	background-color: $background-gray
	position: absolute
	bottom: 0
	width: 100%
	height: 60px



/* NAVBAR STYLING */
nav.top-bar {
	height: 100px;
	background: transparent;
	border-bottom: 2px solid #434747;
}
nav.top-bar .cinder-logo-container {
	padding-left: 0;
}
nav.top-bar .top-bar-section ul li,
nav.top-bar .top-bar-section li:not(.has-form) a:not(.button) {
	background: transparent;
	line-height: initial;
	margin-left: 0;
}
nav.top-bar .title-area .name img {
	width: 220px;
}
nav.top-bar .top-bar-section .left > li {
	margin-top: 50px;
}
nav.top-bar .top-bar-section .right > li {
	margin-top: 40px;
}
nav.top-bar .top-bar-section ul li > a {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	padding: inherit;
	text-decoration: none;
}
nav.top-bar .top-bar-section ul li > a:hover {
	color: #c64b24;
}
nav.top-bar .top-bar-section ul li:first-of-type a {
	padding-left: 0;
}

/* SEARCH RESULTS STYLING */
#nav_search > #search {
	position: relative;
}

#nav_search > #search > input {
	display: inline-block;
	margin-bottom: 0;
	width: 290px;
	font-size: 12px;
	top: 0;
	height: 30px;
	border-radius: 10px;
}
#nav_search > #search > button {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	height: 30px;
	text-transform: uppercase;
	outline: 0;
}
#nav_search > #search > #search-results {
	background-color: white;
	position: absolute;
	right: 0;
	z-index: 99999;
	display: block;
	max-height: 80vh;
	overflow-y: scroll;
	overflow-x: hidden;
	top: 30px;
    border-radius: 10px;
    width: 400px;
}
#nav_search > #search > #search-results ul {
	margin-left: 0;
}
#nav_search > #search > #search-results li {
	height: auto;
	padding: 10px 0 10px 10px;
	margin-right: 0;
	font-size: 12px;
	background: transparent;
	width: 100%;
}
#nav_search > #search > #search-results li:hover,
#nav_search > #search > #search-results li:hover a {
	background: #c64b24;
	color: white;
}
#nav_search > #search > #search-results a {
	padding: 0;
	color: #c64b24;
	background: transparent;
	font-size: 12px;
}
#nav_search > #search > #search-results li a:before {
	content: "\00bb";
}
#nav_search #search-results-view-all {
	display: inline-block;
	width: 100%;
	background: #949494;
	padding: 10px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}
#nav_search > #search > #search-results > #search-results-view-all a {
	color: white;
}
#nav_search > #search > #search-results > #search-results-view-all a:hover {
	color: #c64b24;
}