/*
* ---------------------------------------------------------
* Colors
* ---------------------------------------------------------
*/
$cinder-orange = #cb791c
$cinder-red = #a41c12
$cinder-brown = #3E2B20
$light-gray = #f2f2f2
$dark-gray = #666666
$gray = #999999

$gray-depth-1 = #ebebeb
$gray-depth-2 = #f3f3f3
$gray-depth-3 = #f8f8f8

$light-gray-text = #949494
$middle-gray-text = #585858
$dark-gray-text = #333333

$background-gray = #242727
$background-gray-light = #292d2c
$gray-gradient-1 = linear-gradient(to bottom, $background-gray 0%,#262a29 100%); /* W3C */
$gray-gradient-2 = linear-gradient(to bottom, $background-gray 0%,#292d2c 100%); /* W3C */



/*
* ---------------------------------------------------------
* Fonts
* ---------------------------------------------------------
*/

codeStyle()
	// font-family: Hack, monospace !important
	font-family: Inconsolata, monospace !important
	//font-family: Consolas, Monaco, 'Andale Mono', monospace
	font-size: 1.0em
	
baseFontStyle()
	font-family: 'Open Sans', Helvetica, Arial, sans-serif

fancyFontStyle()
	font-family: 'Libre Baskerville', serif
	font-style: italic
	


/*
* ---------------------------------------------------------
* Media Queries
* ---------------------------------------------------------
*/
$mobile = 320px
$tablet = 768px
$desktop = 1224px