/*
* ---------------------------------------------------------
* Colors
* ---------------------------------------------------------
*/
$cinder-orange = #c64b24
$cinder-red = #a41c12
$light-gray = #f2f2f2
$background-gray = #252726
$background-gray-light = #292d2c
$gray-gradient-1 = linear-gradient(to bottom, background-gray 0%,#292d2c 100%); /* W3C */
$gray-gradient-2 = linear-gradient(to bottom, background-gray 0%,#292d2c 100%); /* W3C */
