// helper classes for writing docs

/* 
/* -----------------------------------------------------------------------------
/*  Common mixins
/* -----------------------------------------------------------------------------
*/
center()
	display: block
	margin-left: auto
	margin-right: auto
	text-align: center

/* 
/* -----------------------------------------------------------------------------
/*  Global helper classes
/* -----------------------------------------------------------------------------
*/

.center
	center()

/* 
/* -----------------------------------------------------------------------------
/*  2 column helper
/* -----------------------------------------------------------------------------
*/
.cols-2
	width: 100%
	margin: 25px 0
	clearfix()
	
	.col
		position: relative;
		width: 50%
		float: left;
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;

	
		&:first-child
			padding-left: 0
		
		&:last-child
			padding-right: 0
			
		> *
			margin-top: 0
			max-width: 100%;


@media (max-width: 960px)

	.cols-2
		.col
			width: 100%
			
			&:first-child
				padding-left: 0.9375rem
			
			&:last-child
				padding-right: 0.9375rem
			
			> *
				margin-top: inherit
				

/* 
/* -----------------------------------------------------------------------------
/*  Image Helpers
/* -----------------------------------------------------------------------------
*/
img-base()
	display: block
	margin-top: 30px
	margin-bottom: 30px

// drop-shadow
video.shadow, img.shadow
	box-shadow: rgba(0,0,0,0.5) 0 10px 20px
	
// image/figure centering
figure.center, img.center, video.center
	img-base()
	center()
	
// rounded images
img.rounded
	border-radius: 5px

figure > img
	margin-bottom: 1em
