cinder-orange = #c64b24
light-gray = #949494
background-gray = #252726

body.section_home
	background: white
	
	h1
		font-size: 3em
		font-weight: 700
	
	#top-primary
		color: light-gray

		#sub-nav
			display: none
		
	#intro
		padding: 50px 0 75px 0	
		border-top: 2px solid white
		
		.content
			padding: 0 200px 0 0
			
			p
				font-size: 1.1em
		
		#downloads
			padding: 20px 0 0 0
			
			li 
				padding: 0 2em 0 0
				
				a
					transition: all 250ms
					display: block
					padding: 0.2em 0.9375em 0.2em 0.9375em
					color: light-gray
					font-weight: 400
					font-size: 0.8em
					width: 100%
					
					&:hover
						background: cinder-orange
						color: #fff

	footer
		background: background-gray