<!DOCTYPE html>
<html>
<head>
	<title>Class | {{class_title}}</title>
	{{> meta }}
	{{> styles }}
</head>
<body>
	<!-- main nav -->
	{{> main-nav}}

	<!-- content -->
	<h1>{{class_name}} Class Reference</h1>
	<p>
		{{description}}
	</p>



	{{> footer }}

	{{> scripts }}
</body>
</html>