<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    {{> styles }}
    {{> scripts }}
</head>
<body>
    <div id="top-primary">
        <!-- main nav -->
        {{> main-nav }}
    </div>


    <div id="container" class="row content-row">
        {{#subnav.length}}
        {{#subnav}}
        <div>
        
            <ul>
                {{#list}}
                <a href="{{link}}">{{label}}</a>
                {{/list}}
            </ul>
        </div>
        {{/subnav}}
        {{/subnav.length}}

      <div id="template-content" class="columns large-12">
      
      </div>
    </div>
        
     

    {{> footer }}

    
    <script type="text/javascript">
      setSection("guides");
    </script>

</body>
</html>