<!DOCTYPE html>
<html>
<head>
    <title>Cinder v{{version}} Docs</title>
    {{> styles }}
</head>
<body class="section_home">
    {{> scripts }}
    <div id="top-primary">
        <!-- main nav -->
        {{> main-nav }}

        <div id="intro" class="row">
            <!-- cinder download links -->
            <div id="downloads" class="columns large-3">
                <ul>
                    <li><a href="http://libcinder.org/download/">Latest Release (0.9.0)</a></li>
                    <li><a href="https://github.com/cinder/Cinder">Edge Cinder</a></li>
                    <li><a href="https://github.com/cinder/Cinder/releases/tag/v0.8.6">Version (0.8.6)</a></li>
                    <li><a href="https://github.com/cinder/Cinder/releases/tag/v0.8.5">Version (0.8.5)</a></li>
                    <li><a href="https://github.com/cinder/Cinder/releases/tag/v0.8.4">Version (0.8.4)</a></li>
                </ul>
            </div>

            <!-- intro -->
            <div class="content content-column columns large-9">
                <h1>Cinder Documentation</h1>
                <p>If you are just getting started, we recommend you begin with the <a href="guides/tour/hello_cinder.html">Hello, Cinder</a> guide. If you'd like to just get a sense of what's in Cinder, take a look at the <a href="namespaces.html">Namespace list</a>. And don't forget, the samples are still the best way to learn Cinder for now as we work to fill out the documentation.
                </p>
            </div>
        </div>
    </div>

   <div class="row content-row" data-equalizer="content">

      <!-- main content area -->
      <div class="columns large-12" data-equalizer-watch="content">

        <div id="container">

          <div id="template-content"></div>
        
        </div>

      </div>
    </div> <!-- row -->
    {{> footer }}

    
</body>
</html>