{{!-- <div id="main-nav" class="content row">
  <div class="branding columns large-3">
    <div class="navbar-header">
      <a class="navbar-brand" href="../index.html"></a><div class="cinder-version">0.9.0</div>
    </div>
  </div>

  <div class="columns large-9">
    <ul class="tablist nav">
      <li id="nav_reference"><a href="../reference/index.html">Reference</a></li>
      <li id="nav_guides"><a href="../guides/index.html">Guides</a></li>
      <li id="nav_namespaces"><a href="../namespaces.html">Namespaces</a></li>
      <li id="nav_classes"><a href="../classes.html">Classes</a></li>
      <li id="nav_search">
      	<div id="search">
			<input type="text" id="search-input">
			<button id="search-button">search</button>
			<div id="search-results"></div>
		</div>
		<script type="text/javascript" src="../search_index.js"></script>
      </li>
    </ul>
  </div>
</div> --}}
<nav class="top-bar row" data-topbar role="navigation">
  <div class="columns large-3 cinder-logo-container">
    <ul class="title-area">
      <li class="name">
        <img src="../_assets/images/cinder_logo.svg">
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
  </div>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active">
      		<li id="nav_search">
            <div id="search">
        			<input type="text" id="search-input">
        			{{!-- <button id="search-button">search</button> --}}
        			<div id="search-results"></div>
        		</div>
        		<script type="text/javascript" src="../search_index.js"></script>
          </li>
      </li>
      {{!-- <li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li> --}}
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li id="nav_main"><a href="/">Main Page</a></li>
      <li id="nav_reference"><a href="../reference/index.html">Reference</a></li>
      <li id="nav_guides"><a href="../guides/index.html">Guides</a></li>
      <li id="nav_namespaces"><a href="../namespaces.html">Namespaces</a></li>
      <li id="nav_classes"><a href="../classes.html">Classes</a></li>
    </ul>
  </section>
</nav>
<!-- end #main-nav -->