<div id="main-nav" class="content row">
  <div class="branding columns large-3">
    <div class="navbar-header">
      <a class="navbar-brand" href="../index.html"></a><div class="cinder-version">0.9.0</div>
    </div>
  </div>

  <div class="columns large-9">
    <ul class="tablist nav">
      <li id="nav_reference"><a href="../reference/index.html">Reference</a></li>
      <li id="nav_guides"><a href="../guides/index.html">Guides</a></li>
      <li id="nav_namespaces"><a href="../namespaces.html">Namespaces</a></li>
      <li id="nav_classes"><a href="../classes.html">Classes</a></li>
    </ul>
  </div>
</div> <!-- end #main-nav -->