<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{{ page_title }}</title> <!-- dynamic partial defined in python -->
    

    {{! styles }}
    <link href="../_assets/css/foundation.css" rel="stylesheet" >
    <link href="../_assets/css/cinder_docs.css" rel="stylesheet" type="text/css"/>
    <link href="../_assets/css/prism.css" rel="stylesheet" type="text/css"/>
    <link href="../_assets/css/treeview.css" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>

</head>
<body class="{{section_class}}">

    <!-- start offcanvas content for responsive sliding nav -->
    <div class="off-canvas-wrap wrapper" data-offcanvas>
        <main class="inner-wrap">

            <section class="main-section">

                <!-- top section -->
                <div id="top-primary">
                    <!-- main nav -->
                    
                    <nav id="main-nav" class="show-for-medium-up content row collapse" data-topbar>
                      <div class="branding columns medium-4 large-3">
                        <div class="navbar-header">
                          <a class="navbar-brand" href="../index.html"></a><div class="cinder-version">0.9.0</div>
                        </div>
                      </div>

                      <div class="columns medium-8 large-9">
                        <ul class="tablist nav">
                          <li id="nav_reference"  class="{{#section_reference}}active{{/section_reference}}">
                            <a href="../reference/geometry.html">Reference</a></li>
                          <li id="nav_guides"     class="{{#section_guides}}active{{/section_guides}}">
                            <a href="../guides/index.html">Guides</a></li>
                          <li id="nav_namespaces" class="{{#section_namespaces}}active{{/section_namespaces}}">
                            <a href="../namespaces.html">Namespaces</a></li>
                          <li id="nav_classes"    class="{{#section_classes}}active{{/section_classes}}">
                            <a href="../classes.html">
                              Classes</a></li>
                        </ul>
                      </div>
                    </nav> <!-- end #main-nav -->


                    <nav class="tab-bar show-for-small">
                      <section class="left-small">
                        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
                      </section>

                      <section class="middle tab-bar-section">
                        <h2 class="title">Cinder</h2>
                      </section>

                    </nav>

                    <aside class="left-off-canvas-menu">
                      <ul class="off-canvas-list">
                        <li><label>Cinder Documentation</label></li>
                        <li id="nav_reference"><a href="../reference/index.html">Reference</a></li>
                        <li id="nav_guides"><a href="../guides/index.html">Guides</a></li>
                        <li id="nav_namespaces"><a href="../namespaces.html">Namespaces</a></li>
                        <li id="nav_classes"><a href="../classes.html">Classes</a></li>
                      </ul>
                    </aside>


                    <!-- for any additional content you'd want to put up here -->
                    {{{ top-content }}}
                </div>

                
                {{!-- main content --}}
                <div id="main-content" data-equalizer="content">

                    {{{ main_content }}} <!-- dynamic partial defined in python -->
                </div> {{!-- end row --}}
            </section>
            
            <a class="exit-off-canvas"></a>
        </main>

        {{! start footer part }}
        <footer>
          <div class="row">&copy;Copyright 2015 <a href="http://www.libcinder.org">Cinder</a></div>
        </footer>

    </div>
    
    

    
    {{! scripts }}
    <script type="text/javascript" src="../_assets/js/jquery.js"></script>
    <script type="text/javascript" src="../_assets/js/foundation.min.js"></script>
    <script type="text/javascript" src="../_assets/js/prism.js"></script>
    <script type="text/javascript" src="../_assets/js/lunr.min.js"></script>
    <script type="text/javascript" src="../_assets/js/dynsections.js"></script>
    <script type="text/javascript" src="../_assets/js/lunr.min.js"></script>
    <script type="text/javascript" src="../search_index.js"></script>
    <script type="text/javascript" src="../_assets/js/cinder.js"></script>

    <script type="text/javascript">
        // Calling foundation runs through any calls
        // related to foundation 5.
        // One such thing is making sure the column sizes stay in sync
        // $(document).foundation();
        $(document).foundation('offcanvas', 'reflow');
    </script>

</body>
</html>