<div class="row" id="sub-nav">
  	<ul>
  		{{#namespaces.length }}
  		<li><a href="#{{namespaces.anchor}}">Namespaces</a></li>
  		{{/namespaces.length }}

  		{{#classes.length }}
  		<li><a href="#{{classes.anchor}}">Classes</a></li>
  		{{/classes.length }}
  		
  		{{#typedefs.length }}
  		<li><a href="#{{typedefs.anchor}}">Typedefs</a></li>
  		{{/typedefs.length }}

  		{{#enumerations.length }}
  		<li><a href="#{{enumerations.anchor}}">Enumerations</a></li>
  		{{/enumerations.length }}

  		{{#functions.length }}
  		<li><a href="#{{functions.anchor}}">Functions</a></li>
  		{{/functions.length }}

  		{{#variables.length }}
  		<li><a href="#{{variables.anchor}}">Variables</a></li>
  		{{/variables.length }}
  	</ul>
</div>