<!DOCTYPE html>
<html>
<head>
    <title>Namespace | {{title}}</title>
    {{> styles }}
</head>
<body>
    <div id="top-primary">
        <!-- main nav -->
        {{> main-nav }}

        <!-- subnav -->
        {{> namespace-subnav }}
    </div>

    
    <div class="row content-row" data-equalizer="content">

        

      <!-- side nav -->
      <div id="side-nav" class="columns large-2" data-equalizer-watch="content">
        <h3>Namespaces:</h3>
        {{{ namespace_nav }}}
      </div>


      <!-- main content area -->
      <div class="columns large-10" data-equalizer-watch="content">

        <div id="container">

          <div class="content">

            <!-- content -->
            <h1 id="page-title">
                <em>{{name}}</em> Namespace Reference
            </h1>
            <hr/>

            <!-- show/hide buttons -->
            <div id="show-hide">
              <a class="show-all">Show All</a> | <a class="hide-all">Hide All</a>
            </div>
            
            <!-- contents -->
            <div class="contents">

                <!-- namespaces -->
                {{#namespaces.length}}
                {{#namespaces}}
                <a name="{{anchor}}"></a>
                <section>
                    <h1>Namespaces</h1>
                    <ul>
                        {{#list}}
                            <li class="row">
                                <div class="definitionCol columns large-9">
                                    <a href="{{link}}">{{label}}</a>
                                </div>
                            </li>
                        {{/list}}
                    </ul>
                </section>
                <hr/>
                {{/namespaces}}
                {{/namespaces.length}}

                <!-- classes -->
                {{#classes.length}}
                {{#classes}}
                <a name="{{anchor}}"></a>
                <section>
                    <h1>Classes</h1>
                    <ul>
                        {{#list}}
                            <li class="row">
                                <div class="returnCol columns large-1">
                                    {{kind}}
                                </div>
                                <div class="definitionCol columns large-11">
                                    <a href="{{link_data.link}}">{{link_data.label}}</a>
                                </div>
                            </li>
                        {{/list}}
                    </ul>
                </section>
                <hr/>
                {{/classes}}
                {{/classes.length}}

                <!-- typedefs -->
                {{#typedefs.length}}
                {{#typedefs}}
                <a name="{{anchor}}"></a>
                <section>
                    <h1>Typedefs</h1>
                    <ul>
                         {{#list}}
                            {{> function-markup }}
                        {{/list}}
                    </ul>
                </section>
                <hr/>
                {{/typedefs}}
                {{/typedefs.length}}

                <!-- enumerations -->
                {{#enumerations.length}}
                {{#enumerations}}
                <a name="{{anchor}}"></a>
                <section>
                    <h1>Enumerations</h1>
                    <ul>
                        {{#list}}
                        {{> enum-markup}}
                        {{/list}}
                    </ul>
                </section>
                <hr/>
                {{/enumerations}}
                {{/enumerations.length}}

                <!-- functions -->
                {{#functions.length}}
                {{#functions}}
                <a name="{{anchor}}"></a>
                <section>
                    <h1>Functions</h1>
                    <ul>
                        {{#list}}
                            {{> function-markup }}
                        {{/list}}
                    </ul>
                </section>
                <hr/>
                {{/functions}}
                {{/functions.length}}

                <!-- variables -->
                {{#variables.length}}
                {{#variables}}
                <a name="{{anchor}}"></a>
                <section>
                    <h1>Variables</h1>
                    <ul>
                        {{#list}}
                            {{> function-markup }}
                        {{/list}}
                    </ul>
                </section>
                <hr/>
                {{/variables}}
                {{/variables.length}}

            </div>

            <!-- end content -->

          </div>
        </div>

      </div>
    </div> <!-- row -->


    {{> footer }}

    {{> scripts }}
</body>
</html>