{{!-- START page-guide-template.mustache ============= -->}}

{{!-- main content area --}}
<div id="container" class="row content content-row">
    <div class="columns large-3">

    </div>

    <div class="columns large-9 content" data-equalizer-watch="content">

    {{#subnav.length}}
    {{#subnav}}
        <div>

            <ul>
                {{#list}}
                <a href="{{link}}">{{label}}</a>
                {{/list}}
            </ul>
        </div>
    {{/subnav}}
    {{/subnav.length}}

    {{{ html_content }}}
  
  </div>

</div>