{{!-- START page-default-template.mustache ============= -->}}

{{!-- main content area --}}
<div class="row content">
  <div class="columns large-12" data-equalizer-watch="content">

    <div id="container">

      {{! <div id="template-content"></div> }}
      {{{ html_content }}}
    
    </div>

  </div>
</div>