<div id="container" class="row content-row">
	
	
	<div id="side-nav" class="columns large-3">
		<!-- guide links -->
		<section class="table" >
			<label>Categories</label>
			<ul>
				<li><a href="../reference/geometry.html">Geometry</a></li>
				<li><a href="../reference/math.html">Math</a></li>
				<li><a href="../reference/system.html">System</a></li>
				<li><a href="../reference/platform.html">Platform</a></li>
				<li><a href="../reference/opengl.html">OpenGL</a></li>
				<li><a href="../reference/audio.html">Audio</a></li>
				<li><a href="../reference/video.html">Video</a></li>
				<li><a href="../reference/images.html">Images</a></li>
				<li><a href="../reference/application.html">Application</a></li>
				<li><a href="../reference/2dgraphics.html">2D Graphics</a></li>
			</ul>
		</section>

		<!-- namespace nav -->
		<section>
			<label>Namespaces</label>
			{{{ namespace_nav }}}
		</section>

	</div>

	<div class="reference-content columns large-9 content">
		{{{ html_content }}}
	</div>
		
</div>
