<div class="row content-row content">

  <!-- side nav -->
  <div id="side-nav" class="columns large-3" data-equalizer-watch="content">
    <h4>Namespaces:</h4>
    {{{ namespace_nav }}}
  </div>


  <!-- main content area -->
  <div class="columns large-9" data-equalizer-watch="content">

    <div id="container">

      <div class="content">

        <!-- content -->
        <h1 id="page-title">
            <strong>{{name}}</strong> Namespace Reference
        </h1>
        {{> namespace-subnav }}
        <hr/>

        <!-- show/hide buttons -->
        <div id="show-hide">
          <a class="show-all">Show All</a> | <a class="hide-all">Hide All</a>
        </div>
        
        <!-- contents -->
        <div class="contents">

            <!-- namespaces -->
            {{#namespaces.length}}
            {{#namespaces}}
            <a name="{{anchor}}"></a>
            <section>
                <h2>Namespaces</h2>
                <ul>
                    {{#list}}
                        <li class="row">
                            <div class="definitionCol columns large-9">
                                <a href="{{link}}">{{label}}</a>
                            </div>
                        </li>
                    {{/list}}
                </ul>
            </section>
            <hr/>
            {{/namespaces}}
            {{/namespaces.length}}

            <!-- classes -->
            {{#classes.length}}
            {{#classes}}
            <a name="{{anchor}}"></a>
            <section>
                <h2>Classes</h2>
                <ul>
                    {{#list}}
                        <li class="row">
                            <div class="returnCol columns large-1">
                                {{kind}}
                            </div>
                            <div class="definitionCol columns large-11">
                                <a href="{{link_data.link}}">{{link_data.label}}</a>
                            </div>
                        </li>
                    {{/list}}
                </ul>
            </section>
            <hr/>
            {{/classes}}
            {{/classes.length}}

            <!-- typedefs -->
            {{#typedefs.length}}
            {{#typedefs}}
            <a name="{{anchor}}"></a>
            <section>
                <h2>Typedefs</h2>
                <ul>
                     {{#list}}
                        {{> function-markup }}
                    {{/list}}
                </ul>
            </section>
            <hr/>
            {{/typedefs}}
            {{/typedefs.length}}

            <!-- enumerations -->
            {{#enumerations.length}}
            {{#enumerations}}
            <a name="{{anchor}}"></a>
            <section>
                <h2>Enumerations</h2>
                <ul>
                    {{#list}}
                    {{> enum-markup}}
                    {{/list}}
                </ul>
            </section>
            <hr/>
            {{/enumerations}}
            {{/enumerations.length}}

            <!-- free functions -->
            {{#free_functions.length}}
            {{#free_functions}}
            <a name="{{anchor}}"></a>
            <section>
                <h2>Free Functions</h2>
                <ul>
                    {{#list}}
                        {{> function-markup }}
                    {{/list}}
                </ul>
            </section>
            <hr/>
            {{/free_functions}}
            {{/free_functions.length}}
            
            <!-- functions -->
            {{#public_functions.length}}
            {{#public_functions}}
            <a name="{{anchor}}"></a>
            <section>
                <h2>Functions</h2>
                <ul>
                    {{#list}}
                        {{> function-markup }}
                    {{/list}}
                </ul>
            </section>
            <hr/>
            {{/public_functions}}
            {{/public_functions.length}}

            <!-- variables -->
            {{#variables.length}}
            {{#variables}}
            <a name="{{anchor}}"></a>
            <section>
                <h2>Variables</h2>
                <ul>
                    {{#list}}
                        {{> function-markup }}
                    {{/list}}
                </ul>
            </section>
            <hr/>
            {{/variables}}
            {{/variables.length}}

        </div>

        <!-- end content -->

      </div>
    </div>

  </div>
</div> <!-- row -->