{{#length}}
<ul>
    {{#subnav }}
    <li>
        {{#link_data}}
        	 
            	<a href="{{link}}">{{label}}</a>
            
        {{/link_data}}
        {{>page-guide-navlist-template}}
    </li>
    {{/subnav }}
</ul>
{{/length}}