<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    {{> styles }}
</head>
<body>
    <div id="top-primary">
        <!-- main nav -->
        {{> main-nav }}
    </div>

    
    <div id="container" class="row content-row">
	<div class="columns large-12">
		<!-- guides and features section -->
		<div class="row">

			<!-- guide links -->
			<div class="columns large-3">
				<h3>Library Features</h3>
				<ul>
					<li><a href="../reference/geometry.html">Geometry</a></li>
					<li><a href="../reference/math.html">Math</a></li>
					<li><a href="../reference/system.html">System</a></li>
					<li><a href="../reference/platform.html">Platform</a></li>
					<li><a href="../reference/opengl.html">OpenGl</a></li>
					<li><a href="../reference/audio.html">Audio</a></li>
					<li><a href="../reference/video.html">Video</a></li>
					<li><a href="../reference/images.html">Images</a></li>
					<li><a href="../reference/application.html">Application</a></li>
				</ul>
			</div>

			<div id="template-content" class="reference-content columns large-9">
			</div>
		</div> <!-- row -->
	</div>
</div>
    {{> footer }}

    {{> scripts }}
</body>
</html>