<!-- scripts -->
<script type="text/javascript" src="../_assets/js/jquery.js"></script>
<script type="text/javascript" src="../_assets/js/foundation.min.js"></script>
<script type="text/javascript" src="../_assets/js/prism.js"></script>
<script type="text/javascript" src="../_assets/js/lunr.min.js"></script>
<script type="text/javascript" src="../_assets/js/dynsections.js"></script>
<script type="text/javascript" src="../_assets/js/lunr.min.js"></script>
<script type="text/javascript" src="../search_index.js"></script>
<script type="text/javascript" src="../_assets/js/cinder.js"></script>

<script type="text/javascript">
	// Calling foundation runs through any calls
	// related to foundation 5.
	// One such thing is making sure the column sizes stay in sync
	// $(document).foundation();
	$(document).foundation('offcanvas', 'reflow');
</script>
