<!-- scripts -->
<script type="text/javascript" src="../_assets/js/jquery.js"></script>
<script type="text/javascript" src="../_assets/js/foundation.min.js"></script>
<script type="text/javascript" src="../_assets/js/prism.js"></script>
<script type="text/javascript" src="../_assets/js/lunr.min.js"></script>
<script type="text/javascript" src="../_assets/js/dynsections.js"></script>
<script type="text/javascript" src="../search/searchdata.js"></script>
<script type="text/javascript" src="../search/search.js"></script>
<script type="text/javascript" src="../_assets/js/cinder.js"></script>
