{{#include}}
<div class="row side">
    <label>#include</label>
    <div class="content">
      <a href="{{ include.link }}">{{ include.label }}</a>
    </div>
</div>
{{/include}}

 {{#typedefs.length}}
<div class="row side expandable">
    <div class="content">
      <ul>
        <label>Typedefs:</label>
        {{#typedefs.list}}
        <li><a href="{{ link }}">{{ label }}</a></li>
        {{/typedefs.list}}
      </ul>
    </div>
</div>
 {{/typedefs.length}}

{{#class_hierarchy}}
<div class="row side expandable">
    <label>Class Hierarchy:</label>
    {{{class_hierarchy}}}
</div>
{{/class_hierarchy}}

{{#classes.length}}
<div class="row side expandable">
    <div class="content">
      <ul>
        <label>Classes:</label>
        {{#classes.list}}
        <li><a href="{{ link }}">{{ label }}</a></li>
        {{/classes.list}}
      </ul>
    </div>
</div>
{{/classes.length}}

{{#related.length}}
<div class="row side expandable">
    <div class="content">
      <ul>
        <label>Related Links:</label>
        {{#related.list}}
        <li><a href="{{ link }}">{{ label }}</a></li>
        {{/related.list}}
      </ul>
    </div>
</div>
{{/related.length}}
