{{#include}}
<div class="row side">
    <h4>#include</h4>
    <div class="content">
      <a href="{{ include.link }}">{{ include.label }}</a>
    </div>
</div>
{{/include}}

 {{#typedefs.length}}
<div class="row side expandable">
    <h4>Typedefs:</h4>
    <div class="content">
      <ul>
        {{#typedefs.list}}
        <li><a href="{{ link }}">{{ label }}</a></li>
        {{/typedefs.list}}
      </ul>
    </div>
</div>
 {{/typedefs.length}}

{{#class_hierarchy}}
<div class="row side expandable">
    <h4>Class Hierarchy:</h4>
    {{{class_hierarchy}}}
</div>
{{/class_hierarchy}}

{{#classes.length}}
<div class="row side expandable">
    <h4>Classes:</h4>
    <div class="content">
      <ul>
        {{#classes.list}}
        <li><a href="{{ link }}">{{ label }}</a></li>
        {{/classes.list}}
      </ul>
    </div>
</div>
{{/classes.length}}

{{#related.length}}
<div class="row side expandable">
    <h4>Related Links:</h4>
    <div class="content">
      <ul>
        {{#related.list}}
        <li><a href="{{ link }}">{{ label }}</a></li>
        {{/related.list}}
      </ul>
    </div>
</div>
{{/related.length}}
