<div class="row" id="sub-nav">
  	<ul>
  		{{#enumerations.length }}
  		<li><a href="#{{enumerations.anchor}}">Public Types</a></li>
  		{{/enumerations.length }}

  		{{#public_functions.length }}
  		<li><a href="#{{public-functions.anchor}}">Public Member Functions</a></li>
  		{{/public_functions.length }}

  		{{#public_static_functions.length }}
  		<li><a href="#{{public-static-functions.anchor}}">Static Public Member Functions</a></li>
  		{{/public_static_functions.length }}

  		{{#protected_functions.length }}
  		<li><a href="#{{protected-functions.anchor}}">Protected Member Functions</a></li>
  		{{/protected_functions.length }}

  		{{#protected_attrs.length }}
  		<li><a href="#{{protected-attrs.anchor}}">Protected Attributes</a></li>
  		{{/protected_attrs.length }}

  		{{#friends.length }}
  		<li><a href="#{{friends.anchor}}">Friends</a></li>
  		{{/friends.length }}
  	</ul>
</div>