<div class="row" id="sub-nav">
  	<ul>
  		{{#public_functions.length }}
  		<li><a href="#{{public_functions.anchor}}">Public Member Functions</a></li>
  		{{/public_functions.length }}

  		{{#public_static_functions.length }}
  		<li><a href="#{{public_static_functions.anchor}}">Public Static Member Functions</a></li>
  		{{/public_static_functions.length }}
  	</ul>
</div>