#include "..\include\Resources.h"
#include <Windows.h>
#include <ScrnSave.h>

RES_CINDER_LOGO

STRINGTABLE {
	IDS_DESCRIPTION "Here is my description."
}

DLG_SCRNSAVECONFIGURE DIALOG 0, 0, 147, 42
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Cinder Test Screensaver"
FONT 8, "MS Sans Serif"
BEGIN
    CHECKBOX		"Draw Cinder Logo",2000,15,4,85,14
    DEFPUSHBUTTON   "Cancel",IDCANCEL,15,20,55,14
    DEFPUSHBUTTON   "OK",IDOK,75,20,55,14
END

// this line needs to end in a carriage return
