<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="5275f21b-69de-4405-9b15-d06b524017a1" Publisher="CN=cinderuser" Version="1.0.0.0" />
  <Properties>
    <DisplayName>DebugTest</DisplayName>
    <PublisherDisplayName>cinderuser</PublisherDisplayName>
    <Logo>VisualAssets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DebugTest">
      <VisualElements DisplayName="DebugTest" Logo="VisualAssets\Logo.png" SmallLogo="VisualAssets\SmallLogo.png" Description="Created with Cinder." ForegroundText="light" BackgroundColor="#0c0000">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="VisualAssets\SplashScreen.png" BackgroundColor="#0c0000" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
