body.section_home {
  background: #fff;
}
body.section_home label {
  text-transform: uppercase;
}
body.section_home #main-content li {
  list-style: none;
  margin-left: 0;
}
body.section_home #main-content li a {
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  -ms-transition: all 250ms;
  transition: all 250ms;
  display: block;
  color: #949494;
  font-weight: 400;
  width: 100%;
  line-height: 1.8em;
}
body.section_home #top-primary {
  -webkit-box-shadow: none;
  box-shadow: none;
}
body.section_home #top-content {
  background: -webkit-linear-gradient(top, #252726 0%, #313836 100%);
  background: -moz-linear-gradient(top, #252726 0%, #313836 100%);
  background: -o-linear-gradient(top, #252726 0%, #313836 100%);
  background: -ms-linear-gradient(top, #252726 0%, #313836 100%);
  background: linear-gradient(to bottom, #252726 0%, #313836 100%);
  color: #949494;
}
body.section_home #top-content h1 {
  font-weight: 700;
  margin-bottom: 0;
}
body.section_home #top-content #sub-nav {
  display: none;
}
body.section_home #mid-content>.row {
  padding: 40px 0;
}
body.section_home #mid-content label {
  color: #a41c12;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}
body.section_home #mid-content ul {
  margin-bottom: 10px;
}
body.section_home #mid-content ul.fancy>li a:hover {
  color: #d74f02;
}
body.section_home ul.library-features li {
  display: block;
  text-align: center;
  height: 120px;
  margin-bottom: 20px;
}
body.section_home ul.library-features li a {
  position: relative;
  display: block;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  -ms-transition: all 250ms;
  transition: all 250ms;
  width: auto;
  height: 100%;
}
body.section_home ul.library-features li a .title {
  color: #949494;
  width: 100%;
  text-align: center;
  bottom: 10px;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  -ms-transition: all 250ms;
  transition: all 250ms;
}
body.section_home ul.library-features li a:hover {
  text-decoration: none;
}
body.section_home ul.library-features li a:hover img.over {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
body.section_home ul.library-features li a:hover .title {
  color: #a41c12;
}
body.section_home ul.library-features .img-holder {
  display: block;
  height: 100%;
  width: auto;
  position: relative;
  left: 50%;
  -webkit-transform: translatex(-25%);
  -moz-transform: translatex(-25%);
  -o-transform: translatex(-25%);
  -ms-transform: translatex(-25%);
  transform: translatex(-25%);
}
body.section_home ul.library-features .img-holder img {
  position: absolute;
  left: 0;
  top: 0;
  height: 80%;
  max-height: 90px;
  display: block;
}
body.section_home ul.library-features .img-holder img::after {
  clear: both;
}
body.section_home ul.library-features .img-holder img.over {
  z-index: 10;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  -ms-transition: all 250ms;
  transition: all 250ms;
}
#intro {
  padding: 40px 0 75px 0;
  border-top: 2px solid #fff;
}
#intro .content p {
  font-size: 1.3em;
}
#intro #downloads {
  padding-top: 20px;
}
#intro #downloads li {
  padding: 0 2em 0 0;
}
#intro #downloads li a {
  padding: 0em 0 0 0.9375em;
  margin-left: -0.9375em;
}
#intro #downloads li a:hover {
  background: #d74f02;
  color: #fff;
  text-decoration: none;
}
@media all and (min-width: 640px) {
  #top-content h1 {
    font-size: 3em;
  }
}
