name: CMake Windows

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-2022
    strategy:
      matrix:
        build_type: [Debug, Release]

    steps:
      - name: Clone
        uses: actions/checkout@v3

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCINDER_BUILD_TESTS=ON -G "Visual Studio 17 2022" -A x64

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}} --parallel

      - name: Run Unit Tests
        run: ${{github.workspace}}/build/${{matrix.build_type}}/UnitTests.exe
