name: CMake macOS

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-14
    strategy:
      matrix:
        build_type: [Debug, Release]

    steps:
      - name: Clone
        uses: actions/checkout@v3

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCINDER_BUILD_TESTS=1

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}}

      - name: Run Unit Tests
        working-directory: ${{github.workspace}}/build
        run: ${{github.workspace}}/build/${{matrix.build_type}}/UnitTests.app/Contents/MacOS/UnitTests
